:root {
    --main-bg: #f5f5f5;
    --main-text: rgb(32, 31, 33);
}

[data-theme="dark"] {
    --main-bg:rgb(32, 31, 33);
    --main-text:#f5f5f5;
}

body {
    background-color: var(--main-bg);
}

h1 {
    color: var(--main-text);
}


button{
    display: flex;
    justify-content: center;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    border: none;
    background: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: green;
}